<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{appName}}</title>

	<!-- Bootstrap -->
	<link href="css/style.css" rel="stylesheet">

</head>
<body ng-controller="MainCtrl" ng-class="{login: !isLogged}">

	<nav ng-show="isLogged" ng-cloak class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">
					{{appName}}
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="profile-menu">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="" ng-click="logout()">Logout <i class="glyphicon glyphicon-off"></i></a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container" ng-view></div> <!-- /container -->

	<script src="js/script.js"></script>
</body>
</html>