@import 'bootstrap.less';
@import (less) "daterangepicker-bs3.css";
@import (less) "angular/angular-csp.css";

body {
	padding-top: 70px;
}

body.login {
	background-color:@gray-lighter;

	h2 {
		margin: 40px 0 20px;
	}

	.form-signin {
		width: 50%;
		margin: auto;
		h2 {
			margin-top: inherit;
		}

		#password {
			margin-bottom: 1em;
		}
	}
}

section >div:first-child {
	padding-bottom: 10px;
}



/** CSS3 animations **/
.rotate {
	animation: spin 1.5s linear infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }




