<h2 class="text-center">Welcome to {{appName}}</h2>
<form class="form-signin well" ng-submit="login()">
	<h2 class="form-signin-heading">Please sign in</h2>
	<label for="username">Your Username</label>
	<input type="text" id="username" class="form-control" placeholder="Username" name="username" ng-model="user.username" required autofocus>
	<label for="password">Your Password</label>
	<input type="password" id="password" class="form-control" placeholder="Password" name="password" ng-model="user.password" required>
	<div ng-if="tryagain" class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		Please check your credentials
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in <i class="glyphicon glyphicon-log-in"></i></button>
</form>